* {
    background-color: rgba(0, 0, 0, 0.11);
    color: white;
    font-family: cursive;
    text-decoration: none;
}

.nav_bar {
    background-color: rgba(0, 0, 0, 0.11);
    padding: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    margin-bottom: 20px;
}

h1 {
    padding: 5px 5px 0px 5px;
    color: white;
    flex: 1;
}

ul {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
}

li {
    list-style-type: none;
}

.btn {
    border: none;
    background-color: aquamarine;
    box-shadow: 2px 4px black;
    cursor: pointer;
}